#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background: #f6d8ca;
} 

body {
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Do Hyeon", Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    letter-spacing: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(75,75,75);
    color: #f3843c;
    box-shadow: 5px 5px 0px #0499ad;
}

p {
    margin-bottom: 20px;
}